<h2>Lista de Contratos</h2>
<table>
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Valor</th>
      <th>Nombre Contratante</th>
      <th>Documento Contratante</th>
      <th>Nombre Contratantista</th>
      <th>Documento Contratantista</th>
      <th>Fecha Inicial</th>
      <th>Fecha Final</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contrato of contratos">
      <td>{{ contrato.identificador }}</td>
      <td>{{ contrato.valor }}</td>
      <td>{{ contrato.nombreContratante }}</td>
      <td>{{ contrato.documentoContratante }}</td>
      <td>{{ contrato.nombreContratantista }}</td>
      <td>{{ contrato.documentoContratantista }}</td>
      <td>{{ contrato.fechaInicial }}</td>
      <td>{{ contrato.fechaFinal }}</td>
    </tr>
  </tbody>
</table>
